<div class="col-1-6">
    <div class="slide">
        <figure class="media">
            <div class="media-img ratio-1-1 cli_image_container">
                {{#link-to "pdp" app}}
                    <img class="cli_image" src={{app.ImageSource}} data-app-id={{app.id}}>
                {{/link-to}}
            </div>
            <figcaption class="media-caption">
                <h4 class="media-header media-header-clamp-2">
                {{!-- TODO: Link To the App --}}
                <a class="item-block">{{app.Title}}</a>
                {{!-- END TODO --}}
                </h4>
                <div class="media-subheader">
                    
                </div>
                <div class="media-price">
                    {{app.DisplayPrice}}
                </div>
                {{ws-rating}}
            </figcaption>
        </figure>
    </div>
</div>