<main class="body">

<meta name="ms.product" content="{&quot;id&quot;:&quot;9WZDNCRFJ3TJ&quot;,&quot;name&quot;:&quot;Netflix&quot;,&quot;source&quot;:&quot;DisplayCatalog&quot;,&quot;category&quot;:&quot;Apps&quot;}">
<div class="srv_itemDetails" data-target="ms-windows-store2://pdp/?productid=9WZDNCRFJ3TJ&amp;referrer=unistoreweb&amp;muid=38331CECDC2A6E95321B1BDCDA2A6E7E&amp;websession=930039844CDF48D1A8ABE23CF353CDDC" data-bi-area="AppDetails" data-bi-view="Desc-BuyOptions-RatingsReviews" data-bi-source="DisplayCatalog" data-bi-product="9WZDNCRFJ3TJ">
<div class="page-header" data-bi-name="{{model.Title}}" data-bi-slot="1" data-bi-id="{{model.id}}">
    
    <div class="grid fixed">
        <div class="row">
            <ol class="breadcrumb">
                <li>&nbsp;</li>
            </ol>
        </div>
    </div>
    
    <div class="grid fixed">
        <section class="srv_appItemDetailsHeader row">
            <div class="m-col-7-24 l-col-9-24 section-gallery">
                <!-- Begin One UI Item Template -- Media Browser -->
                <div class="srv_mediaBrowser media-browser row" role="tabpanel">
                    <!-- Begin One UI Item Template -- Media Browser - Tab Content -->
                    <div class="tab-content m-col-22-24">
                        <!-- Begin One UI Item Template -- Media Browser - Tab Content Item -->
                        <div role="tabpanel" class="tab-pane fade\ in active" id="media-browser-0">
                            <img src="{{model.ScreenShot}}" class="img-responsive" alt="Show detail">
                        </div>
                        <!-- Begin One UI Item Template -- Media Browser - Tab Content Item -->
                        <div role="tabpanel" class="tab-pane fade\" id="media-browser-1">
                            <img src="./Netflix - Microsoft Store_files/apps.37588.9007199266246365.b28adbd2-8eeb-41d9-b680-44afbcea329d.2ffa100f-4fc6-4e56-913d-ce6a90d8756b" class="img-responsive" alt="Watching a movie on Netflix">
                        </div>
                        <!-- Begin One UI Item Template -- Media Browser - Tab Content Item -->
                        <div role="tabpanel" class="tab-pane fade\" id="media-browser-2">
                            <img src="./Netflix - Microsoft Store_files/apps.37182.9007199266246365.6b493f19-2402-40d2-8c55-df2d0f0bd0cf.90ac5e21-f46a-47cb-b91a-53e9b61e45f1" class="img-responsive" alt="Home screen">
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-col-16-24 l-col-14-24 m-col-24-offset-1 l-col-24-offset-1">
                <div class="row">
                    <div class="xs-col-2-24 s-col-3-24 m-col-6-24 l-col-5-24 cli_image_container">
                        <img class="cli_image img-responsive" src="{{model.ImageSource}}" style="background-color: #FFFFFF" data-app-id="{{model.id}}">
                    </div>
                    <div class="xs-col-4-24 s-col-9-24 m-col-18-24 l-col-19-24">
                        <h1 id="page-title" class="header-small page-heading" itemprop="name">{{model.Title}}</h1>
                        <div>
                            <a href="http://www.netflix.com/" target="_blank" data-bi-name="Publisher Site">Netflix, Inc.</a>
                        </div>
                        <div class="rating">
                            <div class="rating-stars">
                                <ul class="rating-stars-background">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                </ul>
                                <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 76%">
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                    <li><i class="icon-star"></i></li>
                                </ul>
                            </div>
                            <span class="rating-numbers">(176,653)</span>
                        </div>
                        <div>Age rating: 16+</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1-1">
                        <p class="description has-newline">
                            {{lorem-ipsum length=1200}}
                        </p>
                    </div>
                </div>
                
                <section id="srv_purchaseCTA" class="row">
                    <div class="srv_addCartContainer col-1-1">
                        <div class="cli_purchaseOn8x">
                            <span>To buy or install this app, go to Windows Store from your Start screen.</span>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    
    <div class="grid fixed">
        <div class="row" data-bi-area="BookMarks" data-bi-view="Title Tabs">
            <ul class="nav nav-pills col-1-1 hide-xs show-m">
                <li role="presentation">
                    <a href="https://onestore.dev.microsoft.com/en-us/store/apps/netflix/9wzdncrfj3tj#app-details" data-bi-name="AppDetails">App details</a>
                </li>
                <li role="presentation">
                    <a href="https://onestore.dev.microsoft.com/en-us/store/apps/netflix/9wzdncrfj3tj#ratings-reviews" data-bi-name="RatingsAndReviews">Ratings &amp; Reviews</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid fixed">
    <section class="srv_detailsTable section" id="app-details">
        <header class="section-header row">
            <h2 class="section-title col-1-1">Additional information</h2>
        </header>
        <dl class="metadata-list row">
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Publisher</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">Netflix, Inc.</dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Category</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">Entertainment</dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Approximate size</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">27.94 MB</dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Age rating</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">16+</dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Supported processors</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">arm, x64, x86</dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Supported Languages</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">    <div>English (Canada)</div>
            <div>Deutsch</div>
            <div>Français (Canada)</div>
            <div>English (United States)</div>
            <div>Dansk</div>
            <div>Español</div>
            <div>Suomi</div>
            <div>Français</div>
            <div>Norsk (Bokmål)</div>
            <div>Nederlands</div>
            <div>Português</div>
            <div>Svenska</div>
            <div>English (United Kingdom)</div>
            <div>Nederlands (Nederland)</div>
            <div>Suomi (Suomi)</div>
            <div>Deutsch (Deutschland)</div>
            <div>Norsk, Bokmål (Norge)</div>
            <div>Español (México)</div>
            <div>Français (France)</div>
            <div>Svenska (Sverige)</div>
            <div>Português (Brasil)</div>
            <div>Dansk (Danmark)</div>
            <div>English</div>
            <div>Español (España, Alfabetización Internacional)</div>
            </dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Learn more</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">
            <div>
                <a href="http://www.netflix.com/" target="_blank" data-bi-name="Publisher Uri">Netflix website</a>
            </div>
            <div>
                <a href="https://contactus.netflix.com/Help" target="_blank" data-bi-name="Support Uri">Netflix support</a>
            </div>
            </dd>
            <dt class="metadata-list-title s-col-5-24 m-col-10-24">
            Additional Terms</dt>
            <dd class="metadata-list-content s-col-7-24 m-col-14-24">
            <div>
                <a href="https://signup.netflix.com/PrivacyPolicy" target="_blank" data-bi-name="PrivacyPolicy Uri">Publisher privacy policy</a>
            </div>
            </dd>
        </dl>
    </section>
    <hr>
</div>
</div>

{{partial "partials/pdp/ratings"}}
{{partial "partials/pdp/relatedapps"}}

</main>